fastapi==0.136.3
uvicorn==0.49.0
pydantic==2.13.4
pydantic-settings
sqlalchemy
psycopg2
passlib
bcrypt>=4.0.1
pyjwt
python-multipart
email-validator
google-generativeai
langchain
langchain-google-genai
langchain-community
pinecone-client
langchain-pinecone
pypdf
PyYAML>=6.0.2
